section{
    margin: 30px;
    h2{
        color: whitesmoke;
        margin-top: 30px;
    }
    ul{
        display: flex;
        flex-direction: row;
        margin-left: -30px;
        gap: 10px;

        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            
            
            p{
                color: #e50914;
                font-size:320px;

            }

            img{
                width: 150px;
                height: 250px;
                object-fit: cover;
                margin-left: -60px;
            }
        }
    }


@media screen and (max-width: 425px){
    ul{
        display: flex;
        flex-direction: column;
    }
}
}